{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block content %}

    <!-- Annoucement  -->
    {% if announcement %}
    <div style="margin:auto;" class="segment-container ui segment full-width">
        <div class="ui header">
            <p>Announcement</p>
        </div>
        <div class="container-content">
            <div class="center aligned column">
                {{ announcement | safe }}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="home-wrap">
        <front-page-competitions></front-page-competitions>

        <!-- Action Section -->
        <!--<div id="action-container" class="segment-container ui segment full-width">
            <div class="ui header">
                Get Started
            </div>
            <div class="container-content">
                <div class="center aligned column">
                    <h3 class="ui icon header">
                        <i class="trophy icon"></i>
                        Participate
                    </h3>
                    <div>
                        <p>Find benchmarks that pique your interest! A benchmark allows you to test new algorithms against reference datasets OR (inverted benchmark) submit challenging data to reference algorithms.</p>
                    </div>
                </div>
                <div class="center aligned column">
                    <h3 class="ui icon header">
                        <i class="users icon"></i>
                        Organize
                    </h3>
                    <div>
                        <p>Organize a benchmark on Codabench. Start with our <a href="https://github.com/codalab/codabench/wiki/Getting-started-with-Codabench">tutorial</a>.</p>
                    </div>
                </div>
                <div class="center aligned column">
                    <h3 class="ui icon header">
                        <i class="code icon"></i>
                        Contribute
                    </h3>
                    <div>
                        <p>Interested in joining the development team? Join us on <a href="https://github.com/codalab/codabench">Github</a> or <a href="mailto:info@codalab.org">contact us</a> directly.</p>
                    </div>
                </div>
            </div>
        </div>-->

        <!-- Stats section -->
        <div class="ui three column grid" id="general-stats">
            <!-- Public Competitions -->
            <div class="column">
                <div class="ui statistic">
                    <div class="value">{{ HOME_PAGE_COUNTERS_INFO.public_competitions }}</div>
                    <div class="label">Public Competitions</div>
                </div>
            </div>
            <!-- Users -->
            <div class="column">
                <div class="ui statistic">
                    <div class="value">{{ HOME_PAGE_COUNTERS_INFO.users }}</div>
                    <div class="label">Users</div>
                </div>
            </div>
            <!-- Submissions -->
            <div class="column">
                <div class="ui statistic">
                    <div class="value">{{ HOME_PAGE_COUNTERS_INFO.submissions }}</div>
                    <div class="label">Submissions</div>
                </div>
            </div>
        </div>

        <!-- About Section -->
        <div id="about-container" class="segment-container ui segment full-width">
            <div class="ui header">
                About Sensorium
            </div>
            <div class="container-content">
                <div class="ui middle stackable grid container">
                    <div class="eight wide left aligned column">
                        <div class="row column-bottom-padding">
                            <h3 class="ui color-header header">The Problem</h3>
                            <div class="ui divider"></div>
							<strong>Even today’s most advanced models of visual cortex are not able to fully predict the brain’s responses.</strong>
                            <p>Understanding how the brain processes visual input is a long standing goal in neuroscience. To solve this question in a quantitative, testable, and reproducible way, accurate predictive models of neural population responses to natural stimuli are crucial. However, even today’s most advanced models of visual cortex are only able to account for a fraction of the observed neuronal activity. Furthermore, because there is an abundance of models and metrics, but no widely-used reference dataset, it is challenging to compare models on equal ground. This makes it difficult to determine the current state-of-the-art model.</p>
                        </div>
                        <div class="row column-bottom-padding">
                            <h3 class="ui color-header header">The SENSORIUM 2023 Competition</h3>
                            <div class="ui divider"></div>
							<strong>Benchmarking the predictive performance of your model on large-scale datasets.</strong>
                            <p>The SENSORIUM 2023 competition offers a publicly available, large-scale dataset consisting of the activity from over 38,000 neurons from the primary visual cortex of five different mice in response to around 1800 natural scene videos (around 10 seconds). The dataset also includes additional behavioral measurements such as running speed, pupil dilation and eye movements. The performance of predictive models can be automatically evaluated by submitting predicted neural responses to our website which will display the performance of all submissions in a leaderboard for easy comparison.</p>
							<p>The SENSORIUM 2022 competition approached this issue for static stimulus (pictures) models. This year we are adding a time dimensional component and try to inspire community to establish a benchmark dataset and a model for dynamic stimulus (videos). See more about data in the whitepaper and data section.</p>
							<strong>Currently, we offer two benchmark tracks</strong>
							<p>There is a main track and a bonus track. The focus of the main track is to predict the neuronal activity for dynamic stimuli, while the focus of the bonus is to generalize to out of domain (OOD) stimuli.</p>
							<strong>Main Track</strong>
							<p>We provide data from 5 mice, more than 38,000 neurons, around 1800 natural scene videos (around 10 seconds), and additionally behavioral activity (pupil center, pupil dilation, and running speed). The goal is to train a networks, which would predict the neuronal activity for the neurons. To see more details about data or metrics see the corresponding section. <i>Please note that this year there is not separate track for behaviour. It is up for the team if they want to use behavioural data or not.</i></p>
							<strong>Bonus Track</strong>
							<p>We think that from a biological perspective it is crucial to have not only good performing but also generalizable models. Hence, we establish a bonus track with five out of domain (OOD) stimuli to measure the models’ generalizable capabilities. This track would have one winning team.</p>
							<strong>Let’s predict how the brain processes what we see!</strong>
                        </div>
                    </div>
                    <!-- News Section -->
                    <div class="eight wide center aligned column">
                        <div class="row news-column-bottom-padding">
                            <h1 class="ui color-header header">News</h1>
                        </div>
                        {% for post in news_posts %}
                        <div class="row news-column-bottom-padding news">
                            <span class="news-date">{{post.created_when|date:"M d, Y"}}</span>
                            <div class="news-heading">
                                {% if post.link %}
                                    <a href="{{post.link}}" target="_blank"><h3>{{post.title}}</h3></a>
                                {% else %}
                                    <h3 class="news-heading-title">{{post.title}}</h3>
                                {% endif %}
                            </div>
                            <div class="news-body">
                                {{ post.text | safe }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Citation Section -->
        <div id="cite-container" class="segment-container ui segment full-width">
            <div class="ui header">
                Cite Sensorium
            </div>
            <div class="row container-content">
                <pre>
@article{sensorium2023,
	title = {The {Dynamic} {Sensorium} competition for predicting large-scale mouse visual cortex activity from videos},
	author = {Turishcheva, Polina and Fahey, Paul G. and Hansel, Laura and Froebe, Rachel and Ponder, Kayla and Vystrčilová, Michaela and Willeke, Konstantin F. and Bashiri, Mohammad and Wang, Eric and Ding, Zhiwei and Tolias, Andreas S. and Sinz, Fabian H. and Ecker, Alexander S.},
	year = {2024},
	doi = {<a href="https://doi.org/10.48550/arXiv.2305.19654">10.48550/arXiv.2305.19654</a>},
	url = {<a href="http://arxiv.org/abs/2305.19654" target="_blank">http://arxiv.org/abs/2305.19654</a>},
} </pre>
            </div>
        </div>

        <!-- Partners Section -->
        <!--
        <div class="segment-container ui segment full-width">
            <div class="ui header">Partners</div>
            <div class="container-content" id="partners-row1">
                <a href="https://www.universite-paris-saclay.fr/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/paris-saclay.png' %}">
                </a>
                <a href="https://www.microsoft.com/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/microsoft.png' %}">
                </a>
                <a href="http://www.chalearn.org/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/chalearn.png' %}">
                </a>
                <a href="http://www.ub.edu/web/ub/en/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/barcelona.png' %}">
                </a>
                <a href="https://www.stanford.edu/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/stanford.png' %}">
                </a>
                <a href="https://www.iledefrance.fr/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/idf.jpg' %}">
                </a>
                <a href="https://www.inria.fr/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/inria.png' %}">
                </a>
            </div>
            <div class="container-content">
                <a href="https://www.lisn.upsaclay.fr/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/lisn.png' %}">
                </a>
                <a href="https://www.google.com/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/google.jpg' %}">
                </a>
                <a href="https://en.4paradigm.com/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/4paradigm.jpg' %}">
                </a>
                <a href="https://www.cnrs.fr/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/cnrs.png' %}">
                </a>
                <a href="https://anr.fr/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/anr.png' %}">
                </a>
                <a href="https://anr.fr/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/anr2.jpg' %}">
                </a>
                <a href="https://www.eithealth.eu/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/eit_health.jpg' %}">
                </a>
            </div>
        </div>
        -->

    </div>
{% endblock %}


{% block extra_body %}
    <script>
        // Prevent buttons from stacking in mobile view
        $(window).resize(function () {
            if ($(window).width() < 390) {
                return $('.pages')
                    .removeClass('huge')
                    .addClass('large');
            }
            $('.pages')
                .removeClass('large')
                .addClass('huge');
        }).trigger('resize');
    </script>
{% endblock %}
