{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block content %}

    <div class="home-wrap ui grid">
        <div class="row">
            <div class="sixteen wide column">
                <img src="{% static 'img/home_banner.png' %}" alt="Let's predict how the brain processes what we see!"/>
            </div>
        </div>

        <!-- Stats section -->
        <div class="row" id="general-stats">
            <div class="five wide column">
                <div class="ui statistic">
                    <div class="value">{{ HOME_PAGE_COUNTERS_INFO.public_competitions }}</div>
                    <div class="label">Competitions</div>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui statistic">
                    <div class="value">{{ HOME_PAGE_COUNTERS_INFO.users }}</div>
                    <div class="label">Users</div>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui statistic">
                    <div class="value">{{ HOME_PAGE_COUNTERS_INFO.submissions }}</div>
                    <div class="label">Submissions</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide column">
                <h2 class="ui header">The Who</h2>
            </div>
        </div>

        <div class="row">
            <div class="eight wide column">
                <div class="ui container">
                    <p>We are looking for the best neural predictive model that can predict the activity of thousands of neurons in the primary visual cortex of mice in response to videos.</p>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui container">
                    <img src="{% static 'img/mousy_mascot_tv.png' %}" alt="Mousy Mascot TV" class="ui centered image">
                </div>
            </div>
        </div>

        {% if announcement %}
            <div class="row">
                <div class="sixteen wide column">
                    <h2 class="ui header">The News</h2>
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide column">
                    {{ announcement | safe }}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="eight wide column">
                <div class="ui container">
                    <h2 class="ui header">The Problem</h2>
                    <p style="font-weight: bold">Even today’s most advanced models of visual cortex are not able to fully predict the brain’s responses.</p>
                    <p>Understanding how the brain processes visual input is a long-standing goal in neuroscience.</p>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui container">
                    <h2 class="ui header">The 2025 Competition</h2>
                    <p style="font-weight: bold">Benchmarking the predictive performance of your model on large-scale datasets.</p>
                    <p>The SENSORIUM 2025 competition oﬀers a publicly available, lar-ge-scale dataset consisting of the activity from over 38,000 neurons from the primary visual cortex of ﬁve diﬀerent mice in response to around 1800 natural scene videos (around 10 seconds).</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block extra_body %}
    <script>
        // Prevent buttons from stacking in mobile view
        $(window).resize(function () {
            if ($(window).width() < 390) {
                return $('.pages')
                    .removeClass('huge')
                    .addClass('large');
            }
            $('.pages')
                .removeClass('large')
                .addClass('huge');
        }).trigger('resize');
    </script>
{% endblock %}
