{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <div class="ui container">
        <h1>Imprint</h1>
		<p>Valid for the website sensorium-competition.net (“Sensorium”) and for social media profiles.</p>
		<h2>General information</h2>
		<p>according to § 5 TMG, § 55 RStVG</p>

		<p>Sinzlab<br/>
		Goldschmidtstraße 1<br/>
		37077 Göttingen<br/>
		Phone: +49 (0)551-39 21273<br/>
		E-mail: sinz@cs.uni-goettingen.de<br/>
		Website: https://sinzlab.org</p>

		<h2>Supervisory authority</h2>
		<p>Georg-August-Universität Göttingen Stiftung Öffentlichen Rechts, Stiftungsausschuss Universität (§§ 59 Abs. 2, 60 Abs. 2 Satz 2 Nr. 7, 60 a Abs. 1 NHG), Wilhelmsplatz 1, 37073 Göttingen</p>

		<p>Responsible for this website</p>

		<p>Prof. Dr. Fabian Sinz<br/>
		sinz@cs.uni-goettingen.de</p>

		<h2>External links</h2>
		<p>The sensorium2022.net website contains links to websites of other providers (“external links”). When external links were set for the first time, the content on the target pages was checked and no legal violations were found. The respective provider is solely liable for the content of linked websites.</p>

		<h2>Copyright</h2>
		<p>The content offered on sensorium2022.net is subject to German copyright law. Duplication, distribution, processing and any other type of use are only permitted with the written consent of the copyright holder. If content on this website was not created by the provider, the copyrights of third parties are observed. Should you nevertheless become aware of a copyright infringement, please inform the provider so that it can be rectified. Embedding the website in frames is not permitted.</p>

		<h2>Disclaimer of liability</h2>
		<p>The information on this website has been compiled and checked to the best of our knowledge and belief. However, no guarantee is given - either expressly or tacitly - for the completeness, correctness or topicality or the constant availability of the information provided. Liability for damage resulting from the use or non-use of the information offered on this website is excluded to the extent permitted by law.</p>
    </div>
{% endblock %}
