{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <div class="ui container">
        <h1>Privacy Policy</h1>
		<p>Last change April 2022</p>

		<p>The protection of your personal data while you are visiting this website is very important to us. We take the protection of your personal data seriously and want you to feel comfortable on our website.</p>

		<p>The content of the website sensorium2022.net (“Sensorium”) is generally available to you without revealing any personal data. Personal data (e.g. name, email address, address) is only collected if you submit it voluntarily and with your consent to the purpose-related data processing, e.g. via the registration form. The data transmission is encrypted according to the currently available technology.</p>

		<h2>What data do we collect?</h2>
		<p>The kind of data we collect about you while you browse through our website depends on the context.</p>

		<p>Each time you view a page, your browser automatically transmits data and stores it in log files by the web server.</p>

		<ul>
			<li>IP address</li>
			<li>Date and time of the request</li>
			<li>Source/Referrer from which you accessed the page</li>
			<li>HTTP status code The collection and processing of this data takes place on the basis of the data protection regulations applicable in Germany, e.g. the Bundesdatenschutzgesetz (BDGS), the Telemediengesetz (TMG) and the General Data Protection Regulation (GDPR) and in particular on the basis of Art. 6 (b) and (f) GDPR.</li>
		</ul>
		
		<p>This data is not combined with other personal data. In addition to the IP address, other personal data is only processed if you provide them to us voluntarily, e.g. by registering as a user or contacting us by email. Your personal data will not be passed on to third parties unless you have consented to the disclosure or this is necessary. It may be necessary to pass on the data if there is a judicial or official order. In individual cases, personal data can be passed on to service providers (e.g. IT service providers for troubleshooting, lawyers for legal enforcement) for processing on behalf of the service provider.</p>

		<p>If you voluntarily register as a user, we will ask for the desired access data (username, password) and contact details (name, email address). Further information (personal description) is optional. The website uses this information to create your personal account and assigns you an internal ID with which you can be identified during your stay on the website. Participation on Sensorium as a registered user means that your name may be linked to other data records. These data records are visible to all registered users while using the website.</p>

		<p>We will also ask you for your email address if you want to assign a new password for your account.</p>

		<p>This data is collected and processed on the basis of the data protection regulations in force in Germany, e.g. the Federal Data Protection Act (BDGS), the Telemedia Act (TMG) and the General Data Protection Regulation (GDPR) and in particular on the basis of Art. 6 Paragraphs a and f GDPR.</p>

		<h2>What data do we store on your device</h2>
		<p>The website does not use so-called cookies. No other persistent data is stored on your device either. It is therefore not possible to track your online activities due to the use of Sensorium by us and third parties.</p>

		<p>If you log in successfully as a registered user, the website creates the entry “JWebToken” in the local memory of your browser. The entry contains an anonymized hash value with which the session of your browser is securely linked to your session on the web server. After logging out of the website, the entry will be deleted immediately.</p>

		<h2>How does your personal account work</h2>
		<p>Registration for Sensorium is voluntary. By registering, you can use the services offered by Sensorium. The user account can be deleted at any time. A corresponding option is integrated in the personal account settings.</p>

		<h2>Statistical analysis</h2>
		<p>Statistical analysis at the level of individual users does not take place on the website.</p>

		<h2>Contact requests</h2>
		<p>When you contact us (by email, telephone, post or via social media), personal data is collected or the data you have provided is stored. These data are stored and processed solely for the purpose of answering your request. The legal basis for processing the data is the legitimate interest in answering your request in accordance with Art. 6 Para. 1 lit.f GDPR. If your contact is aimed at concluding a contract, the additional legal basis for processing is Art. 6 Para. 1 lit. b GDPR.</p>

		<h2>Linked websites</h2>
		<p>Our websites have links to external websites. We have no influence on the contents of these websites and therefore accept no responsibility or liability for the permissibility, accuracy, presentation and completeness of the contents published, displayed or retrievable there.</p>

		<p>We hereby inform you that when you access these external websites, your IP address may be logged by the respective website operator.</p>

		<p>When you leave our websites, we recommend that you check the privacy policy of the external website operators before you call up the websites or use the functions there.</p>

		<h2>Legal Compliance</h2>
		<p>Your personal data will be stored in order to fulfill the applicable legal obligations in connection with the fulfillment of commissioned services. These are in particular commercial, commercial and tax retention obligations. The legal basis is the fulfillment of legal obligations according to Art. 6 Paragraph 1 lit. c GDPR.</p>

		<h2>Law enforcement</h2>
		<p>Your personal data will be processed in the event of legal disputes, to assert legal claims, to defend against legal claims and to prevent or investigate criminal offenses. The data processing takes place on the basis of the legal basis for safeguarding the legitimate interest according to Art. 6 Para. 1 lit.f GDPR.</p>

		<h2>Right of objection, revocation of consent and other rights</h2>
		<p>You can of course object to the processing of your personal data at any time with effect for the future and revoke your consent to the processing of your personal data. The retention of your personal data in accordance with legal requirements remains unaffected. Please address your objection or revocation to the contact details listed below.</p>

		<p>In accordance with the applicable data protection regulations, you will receive free information about the personal data stored about you at any time. To assert your right to information, please use the contact details listed below.</p>

		<p>In addition, you have rights according to Art. 16 ff. GDPR for correction, deletion, restriction of processing and data portability.</p>

		<h2>Right to complain to a supervisory authority</h2>
		<p>According to Art. 14 in conjunction with Art. 77 GDPR, you have the right to lodge a complaint with a data protection supervisory authority if you are of the opinion that the processing of your data violates the GDPR. The responsible supervisory authority is the Ministry of Science, Research and the Arts Baden Württemberg.</p>

		<h2>Right to an effective judicial remedy against the person responsible</h2>
		<p>In accordance with Art. 79 GDPR, you have the right to an effective judicial remedy if you are of the opinion that your rights listed above have been violated as a result of processing of your data by us or a processor commissioned by us that does not comply with the requirements of the GDPR.</p>

		<h2>Liability and right to compensation</h2>
		<p>According to Art. 82 GDPR, you are entitled to compensation against us or the processors commissioned by us, if you have suffered material or immaterial damage due to a violation of the GDPR.</p>

		<h2>Name and contact details</h2>
		<p>For information, objection and complaints regarding the processing of your personal data and for requests for deletion or correction, please contact</p>

		<p>Prof. Dr. Fabian Sinz<br/>
		Goldschmidtstraße 1<br/>
		37077 Göttingen<br/>
		E-Mail: sinz@cs.uni-goettingen.de<br/>
		Phone: +49 (0)551-39 21273</p>

		<h2>Contact person for data protection at the person responsible</h2>
		<p>Prof. Dr. Andreas Wiebe<br/>
		Platz der Göttinger Sieben 6<br/>
		37073 Göttingen<br/>
		E-Mail: datenschutz@uni-goettingen.de<br/>
		Phone: +49 551-39 7381</p>

		<h2>Amendment of the privacy policy</h2>
		<p>The privacy policy does not require the consent of the user. It is subject to constant review and adjusted if necessary. Unless otherwise specified, changes to the privacy policy will take effect immediately.</p>
    </div>
{% endblock %}
