{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Sensorium</title>
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.png' %}"/>

    <!-- Vendor -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <link rel="stylesheet" href="{% static "css/calendar.min.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Jura" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Ours -->
    <link rel="stylesheet" href="{% static "generated/output.css" %}">

    <!-- Latex -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css">

    {% block extra_head %}
    {% endblock %}
</head>
<body>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
        <script type=text/javascript>
            window.addEventListener('load', function () {
                toastr.{{ message.tags }}('{{ message }}')
                })
        </script>
        {% elif message.tags == 'info' %}
        <script type=text/javascript>
            window.addEventListener('load', function () {
                toastr.{{ message.tags }}('{{ message }}')
                })
        </script>
        {% elif message.tags == 'warning' %}
        <script type=text/javascript>
            window.addEventListener('load', function () {
                toastr.{{ message.tags }}('{{ message }}')
                })
        </script>
        {% elif message.tags == 'error' %}
        <script type=text/javascript>
            window.addEventListener('load', function () {
                toastr.{{ message.tags }}('{{ message }}')
                })
        </script>
        {% endif %}
    {% endfor %}
{% endif %}

<div id="header" class="ui vertical center aligned segment masthead jumbotron
    {% block top_div_extra_class %}{% endblock %}">
    <div class="ui container">
        <div id="top_menu" class="ui secondary menu">
            <div id="topright_menu" class="menu item">
                {% if request.user.is_staff %}
                    <div id="competition_dropdown" class="ui dropdown item">
                        <div class="text">
                            Competitions
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="header"></div>
                            <a class="item" href="{% url "competitions:management" %}">Management</a>
                            <a class="item" href="{% url "competitions:public" %}">Public</a>
                        </div>
                    </div>
                {% else %}
                    <a class="item button3d" href="{% url "competitions:public" %}">
                        Competitions
                    </a>
                {% endif %}
                {% if request.user.is_superuser %}
                    <a class="item button3d" href="{% url "tasks:task_management" %}">
                        Resources
                    </a>
                    <a class="item button3d" href="{% url "queues:management" %}">
                        Queue Management
                    </a>
                {% endif %}
                {% if user.is_authenticated %}
                    <div id="user_dropdown" class="ui dropdown item">
                        <div class="text">
                            {{ request.user.username }}
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="header">Admin management</div>
                            <a class="item" href="{% url "pages:server_status" %}">Server Status</a>
                            {% if request.user.is_staff %}
                                <a class="item" href="{% url "pages:monitor_queues" %}">Monitor Queues</a>
                                <a class="item" href="{% url "admin:index" %}">Django Admin</a>
                                <a class="item" href="{% url "su_login" %}">Change User</a>
                                <a class="item" href="{% url "analytics:analytics" %}">Analytics</a>
                            {% endif %}
                            <div class="ui divider"></div>
                            <div class="header">Account</div>
                            <a class="item" href="{% url 'profiles:user_profile' username=user.username %}">
                                <i class="icon user"></i>
                                View Profile
                            </a>
                            <a class="item" href="{% url 'profiles:user_edit' username=user.username %}">
                                </i><i class="edit icon"></i>
                                Edit profile
                            </a>
                            <a class="item" href="{% url 'accounts:user_account' username=user.username %}">
                                <i class="cog icon"></i>
                                Account
                            </a>
                            <a class="item" href="{% url 'profiles:user_notifications' username=user.username %}">
                                </i><i class="bell icon"></i>
                                Notifications
                            </a>
                            <a class="item" href="{% url 'accounts:password_reset' %}">
                                <i class="lock icon"></i>
                                Change Password
                            </a>
                            <a class="item" href="{% url 'accounts:logout' %}">
                                <i class="icon sign out"></i>
                                Logout
                            </a>
                            <div class="ui divider"></div>
                            <div class="header">Organizations</div>
                            {% for org in user.organizations.all %}
                                {% if user in org.user_record.all %}
                                    <a class="item" href="{% url 'profiles:organization_profile' pk=org.id %}">
                                        <i class="users icon"></i>
                                        {{ org.name }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                            <a class="item" href="{% url 'profiles:organization_create' %}">
                                <i class="plus icon"></i>
                                Create Organization
                            </a>
                        </div>
                    </div>
                {% else %}
                    <a class="item button3d" href="{% url 'accounts:login' %}">Login</a>
                    {% if ENABLE_SIGN_UP %}
                        <a class="item button3d" href="{% url 'accounts:signup' %}">Sign-up</a>
                    {% endif %}
                {% endif %}
            </div>
            <div id="logo_div" class="menu item">
                <a href="/">
                    <img id="jumbo_logo" src="{% static 'img/sensorium_logo_schwarz.png' %}">
                </a>
            </div>
        </div>
    </div>
    {% block top_div_extra_content %}{% endblock %}
</div>

{% block sticky_button %}
{% endblock %}

<div id="page_wrapper">
    <div class="ui bottom attached segment">
        <div class="ui grid stackable centered aligned">
            <div class="four wide column">
                <div id="sidebar-toggle">
                    <a class="item ui icon button">
                        <i class="sidebar icon" style="display: none;"></i>
                        <i class="x icon"></i>
                    </a>
                </div>
                <div id="sidebar-nav-anchor" class="ui container">
                    <div id="sidebar-menu" class="ui secondary sidebar vertical menu top visible">
                        <a href="{% url "pages:problem" %}" class="item">Problem</a>
                        <a href="{% url "pages:home" %}" class="item">Competition</a>
                        <a href="https://github.com/ecker-lab/sensorium_2023" class="item">Starter Kit</a>
                        <a href="{% url "pages:home" %}" class="item">Results</a>
                        <a href="{% url "pages:about_us" %}" class="item">About Us</a>
                        <a href="{% url "pages:news" %}" class="item">News</a>
                    </div>
                </div>
            </div>

            <div id="page_content" class="ui container twelve wide column grid pusher">
                {% if request.path != '/' %}
                    <!-- breadcrumb -->
                {% endif %}
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mousy-mascot-wrapper" class="ui container">
    {% block mousy_mascot %}
    {% endblock %}
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted equal height stackable grid">
            <div class="four wide column">
                <div class="ui inverted link list">
                    <a href="{% url "pages:acknowledgements" %}" class="item">Acknowledgements</a>
                    <a href="{% url "pages:privacy_policy" %}" class="item">Privacy Policy</a>
                    <a href="{% url "pages:terms_of_use" %}" class="item">Terms of Use</a>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui inverted link list">
                    <a href="{% url "pages:imprint" %}" class="item">Imprint</a>
                    <a href="{% url "pages:imprint" %}" class="item">Contact</a>
                    <a href="{% url "pages:imprint" %}" class="item">FAQ</a>
                </div>
            </div>
            <div class="four wide column">
                {# Placeholder #}
            </div>
            <div class="four wide column">
                <a href="https://join.slack.com/t/sensorium-competition/shared_invite/zt-1bep6o4np-tiO93ekNDdo63UZcRFaCrw">
                    <img src="{% static 'img/SLA-Slack-logo-inverse.png' %}" alt="Slack Logo" class="ui image" id="slack_logo">
                </a>
            </div>
        </div>
    </div>
    <div class="ui footer inverted segment center">
            <div class="sixteen wide column">
                <p>Project maintained by <a href="https://sinzlab.org/">Sinzlab</a> and <a href="https://eckerlab.org/">Eckerlab</a></p>
            </div>
    </div>
    {% if VERSION_INFO.tag_name != 'invalid' and VERSION_INFO.tag_name != 'unknown' %}
        <div id="version">
            <a href="{{ VERSION_INFO.html_url }}" target="_blank">{{ VERSION_INFO.tag_name }}</a>
        </div>
    {% endif %}
    <div class="ui container">
        <a href="/" id="mousehole"></a>
    </div>
</div>
    {# Admin only user switching #}
    <user_switch></user_switch>

    <!-- Vendor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"
            integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.13.2/riot+compiler.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{% static "js/calendar.min.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/1.0.10/purify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.13.1/build/global/luxon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/filesize/4.2.1/filesize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js" integrity="sha256-mLCPYHfNREhSETFQGuowilY3zBAZGnDO2cxCnCEm8/I=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/file-saver@^2.0.5"></script>
    <!-- Markdown-->
    <script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
    <!-- Latex -->
    <script src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js"></script>
    <!-- Ours -->



    <script>
        {# From `common_settings` context processor #}
        STORAGE_TYPE = "{{ STORAGE_TYPE }}"
        MAX_EXECUTION_TIME_LIMIT = "{{ MAX_EXECUTION_TIME_LIMIT }}"
        CURRENT_DATE_TIME = "{% now "c" %}"
        CODALAB = {
            state: {
                user: JSON.parse("{{ USER_JSON_DATA|escapejs }}"),
                public_env_variables: {
                    MAX_EXECUTION_TIME_LIMIT:MAX_EXECUTION_TIME_LIMIT
                }
            }
        }

        {# Doing this here to append functionality to user data #}
        CODALAB.state.user.has_competition_admin_privileges = competition => {
            let user = CODALAB.state.user
            if (user.is_superuser || user.is_staff) {
                return true
            }
            let collabs = _.map(competition.collaborators, collab => collab.username)
            return user.username === competition.created_by || collabs.includes(user.username)
        }

        // Load in URLs or other django generated goodies
        URLS = {
            assets: {
                header_particles: "{% static "particles/header.json" %}"
            },
            API: "/api/",
            STATIC: function (file_name) {
                return `{{ STATIC_URL }}${file_name}`
            },
            // Websockets
            //WS_SUBMISSION_LISTEN: ""

            // Analytics
            ANALYTICS_API: function (query_parameters) {
                return "{% url "analytics_api" %}" + `?${$.param(query_parameters)}`
            },

            // Competitions
            COMPETITION_MANAGEMENT: "{% url "competitions:management" %}",
            COMPETITION_UPLOAD: "{% url "competitions:upload" %}",
            COMPETITION_ADD: "{% url "competitions:create" %}",
            COMPETITION_DETAIL: function (pk) {
                return "{% url "competitions:detail" pk=0 %}".replace(0, pk)
            },
            COMPETITION_EDIT: function (pk) {
                return "{% url "competitions:edit" pk=0 %}".replace(0, pk)
            },
            SECRET_KEY_URL: function (pk, secret_key) {
                var url = "{% url "competitions:detail" pk=0 %}".replace(0, pk)
                return `{{ request.get_host }}${url}?secret_key=${secret_key}`
            },
            COMPETITION_GET_ZIP: function (pk) {
                let urlBase = "{% url "competition-results" pk=0 %}".replace(0, pk)
                return urlBase.slice(0, -1) + ".zip"
            },
            COMPETITION_GET_CSV: function (pk, phase_id) {
                let urlBase = "{% url "competition-results" pk=0 %}".replace(0, pk)
                let urlParam = "?phase=" + phase_id
                return urlBase.slice(0, -1) + ".csv" + urlParam
            },
            COMPETITION_GET_JSON: function (pk) {
                let urlBase = "{% url "competition-results" pk=0 %}".replace(0, pk)
                return urlBase.slice(0, -1) + ".json"
            },
            COMPETITION_GET_JSON_BY_ID: function (pk, phase_id) {
                let urlBase = "{% url "competition-results" pk=0 %}".replace(0, pk)
                let urlParam = "?phase=" + phase_id
                return urlBase.slice(0, -1) + ".json" + urlParam
            },
            // Forums
            FORUM: function (pk) {
               return "{% url "forums:forum_detail" forum_pk=0 %}".replace(0, pk)
            },
            // Datasets
            DATASET_MANAGEMENT: "{% url "datasets:management" %}",
            DATASET_DOWNLOAD: function (key) {
                return "{% url "datasets:download" key=0 %}".replace(0, key)
            },
            // Tasks
            TASK_MANAGEMENT: "{% url "tasks:task_management" %}",
            TASK_DETAIL: function (pk) {
                return "{% url "tasks:detail" pk=0 %}".replace(0, pk)
            },
            LOGIN: "{% url 'accounts:login' %}",
            SIGNUP: "{% url 'accounts:signup' %}",
        }
        // Django returns <input type="hidden" value="csrf-token-secret"> so we just grab the `value` attribute from this
        CSRF_TOKEN = $('{% csrf_token %}').attr('value')

        $(document).ready( function () {
            $('#site-wide-competition-search').search({
                apiSettings: {
                    onResponse: function(codalabResponse) {
                        _.forEach(codalabResponse, (response) => {
                            response.url = URLS.COMPETITION_DETAIL(response.id)
                        })
                        return {
                            results: codalabResponse,
                        }
                    },
                    url: `${URLS.API}competitions/?search={query}`
                },
            })
        })
    </script>

    <script src="{% static "js/ours/client.js" %}"></script>
    <script src="{% static "js/ours/init.js" %}"></script>
    <script src="{% static "js/ours/riotjs_mixins.js" %}"></script>
    <script src="{% static "js/ours/utils.js" %}"></script>
    <script src="{% static "js/jquery.form.serializer.js" %}"></script>
    <script src="{% static "js/Chart.bundle.js" %}"></script>
    <script src="{% static "js/reconnecting-websocket.min.js" %}"></script>
    <script src="{% static "generated/riot.js" %}"></script>
    <script src="{% static "js/ours/latex_markdown_html.js" %}"></script>

    {% block extra_js %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
</body>
</html>
