/* --------------------------------------------------------------------------------------
    ********************************** Color Reference **********************************

    Jumbotron Background Color [Dark Blue]: rgba(19, 48, 70, 0.9)

    Button Text Color [Light Grey]: #e2e2e2
    Button Background Color [White, Low Opacity]: rgba(255, 255, 255, .15)

    Button Text Color w/ Hover [Lighter Grey]: #3f3f3f
    Button Background Color w/ Hover [White, Medium Opacity]: rgba(255, 255, 255, .65)

    Competition Tile Color [Lighter Blue]: #4a6778
    Competition Tile Color [Darker Red]: #c7402d
*/

$competition2023 = #33ff00
$currentcompetition = $competition2023

/* --------------------------------------------------------------------------------------
 misc styles for base template

 header/background
 */
html
    background-color #ffffff

.ui.segment,
.ui.segments,
.segment
    font-size 20px

h1,
h1.ui.header,
h2,
h2.ui.header,
h3,
h3.ui.header,
h4,
h4.ui.header,
h5,
h5.ui.header
  font-family Jura, sans-serif

h1,
h1.ui.header
    font-size 44px

h2,
h2.ui.header
    font-size 36px

h3,
h3.ui.header
    font-size 28px

h4,
h4.ui.header
    font-size 24px

h5,
h5.ui.header
    font-size 22px

#bg
    z-index -1
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    background rgba(19, 48, 70, 0.9)

#jumbo_logo
    height 120px

.organization-logos
    position absolute
    bottom 5px
    right 0


.organization-logo
    height 30px
    margin-right 5px

#home-logo
    margin-left: 8px;
    margin-right: 8px;

.right.item
    position absolute !important
    right 0
    top 9px


.left.item
    position absolute !important
    left 0
    top 9px

.ui.menu
    font-size 26px

.ui.menu,
.ui.button
    font-family Jura, sans-serif

.ui.menu .item:before,
.ui.menu:after
    content none !important

.ui.menu .item:hover
    background #ffffff

a.item.button3d,
a.item.button3d:hover,
.ui.secondary.menu .item.button3d,
.ui.secondary.menu .item.button3d:hover
    --c #000000
    --b .1em
    --d 5px
    --_s calc(var(--d) + var(--b))
    color var(--c) !important
    border solid #000000
    border-width var(--b) var(--b) var(--_s) var(--_s)
    background unquote("conic-gradient(at left var(--_s) bottom var(--_s), #0000 90deg, var(--c) 0) 0 100% / calc(100% - var(--b)) calc(100% - var(--b)) border-box")
    clip-path polygon(0% var(--d), var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), calc(100% - var(--d)) 100%, 0% 100%)

.ui.secondary.menu .item.button3d,
.ui.secondary.menu .item.button3d:hover
    text-transform: capitalize
    font-size: 26px;
    padding 0.1em 1.8em
    margin 0

a.item.button3d,
a.item.button3d:hover
    text-transform: uppercase
    padding 0.1em 1em

.ui.secondary.vertical.menu>.item
    margin 0
    padding 15px

.ui.secondary.inverted.pointing.menu
    border transparent

.jumbotron
    padding 0 0 2em 0 !important

    .subtitle
        color #b7c9d69c
        font-size 1rem

.style_button
    color #e2e2e2
    background-color rgba(255, 255, 255, .15)
    font-weight 100

.style_button:hover
    color #3f3f3f
    background-color rgba(255, 255, 255, .65)
    .icon
        opacity 1

#user_dropdown
    color rgba(255,255,255,.9) !important

    a
        width 100%
        border-radius 0 !important

#competition_dropdown
    a
        width 100%
        border-radius 0 !important

.masthead
    position relative

    .logo.item img
        margin-right 1em

    .ui.menu .ui.button
        margin-left 0.5em

    .ui.menu
        margin 0

    .menu .toc.item
        display none

    h1.ui.header
        margin-top 3em
        margin-bottom 0
        font-size 4em
        font-weight normal

    h2
        font-size 1.7em
        font-weight normal

    h3
        font-size 2em

    .button + h3,

    p + h3
        margin-top 3em

    .floated.image
        clear both

    p
        font-size 1.33em

    .horizontal.divider
        margin 3em 0

.quote.stripe.segment
    padding 0

    .grid .column
        padding-top 5em
        padding-bottom 5em

#page_content
    min-height 82vh
    margin-bottom 50px

    img
        max-width 100%

#page_content>div.row
    max-width 1200px
    margin 0 auto

#header
    background #ffffff
    border 0
    height auto
    padding 0 !important

    .ui.menu .ui.dropdown .menu>.item
        color rgba(0, 0, 0, 0.6) !important

    .icon.user.outline
        margin-right 0

#header>div.container
    width 100%

#top_menu
    flex-direction row-reverse
    justify-content space-between
    align-items center

#top_menu>div.menu.item
    align-self flex-start

#topright_menu
    flex-wrap wrap
    gap 0.5em


#page_wrapper
    background #ffffff

#page_wrapper>.segment
    border none

#sidebar-toggle
    text-align right

    a
        background: none
        font-size 30px
        padding 0

#sidebar-menu
    width auto
    box-shadow none

#toast-container
    opacity 0.8
    margin-top 3em
    margin-right 0.5em

.ui.text.container.style_button
    bottom 0!important

/* --------------------------------------------------------------------------------------
 mousy mascots
 */
#mousy-mascot-wrapper
    width 100%
    text-align right
    padding-right 200px
    margin 20px 0 -5px

#mousy-mascot-wrapper img
    max-height 150px

/* --------------------------------------------------------------------------------------
 top menu/dropdowns
 */
.ui.thin.sidebar
    z-index 3


/* --------------------------------------------------------------------------------------
 footer
 */

.footer.ui.inverted.segment
    background #000000
    color #ffffff
    font-weight bold

    a
        color $currentcompetition

    .link.list
        a
            color #ffffff

.footer
    &.segment
        padding 2em 0 0
        margin 1em 7.5em

.footer #slack_logo
    width 120px

/* --------------------------------------------------------------------------------------
 mobile
 */
@media only screen and (max-width 1024px)
    #top_menu
        flex-direction column

/* --------------------------------------------------------------------------------------
 Force the footer to stretch all the way to the bottom of viewport
 */
body.pushable>.pusher
    overflow initial

.pusher > .footer
    flex 1

/* --------------------------------------------------------------------------------------
 Mouse hole
 */
#mousehole
    display block
    margin 10px auto 0
    width 30px
    height 30px
    background-color $currentcompetition
    border-top-left-radius 50%
    border-top-right-radius 50%
    border-bottom-left-radius 0
    border-bottom-right-radius 0

/* --------------------------------------------------------------------------------------
 Fix padding on menus
 */
.ui.menu .ui.dropdown .menu>.item
    margin-top -0.6em !important



/* --------------------------------------------------------------------------------------
 For competition-wide search bar
 */
.search-width
    width 25em !important


.scrollable-height-limit
    max-height 25em !important
    overflow-y scroll !important

/* --------------------------------------------------------------------------------------
 Modals
 */
.modals
    .modal
        max-height 90vh
        overflow-y scroll

#version
    margin-top 10px
    text-align center
    font-weight bold
    padding 5px
    color #8b8d8d

#version a 
    text-decoration none
    color #ffffff